* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#interfaceArea {
	position: absolute;
	top: 50%;
	left: 50%;
 	transform: translate(-50%, -50%);
	height: 500px;
	width: 500px;	
	border: solid 1px black;
}

#container {
/*	position: absolute;
	top: 50%;
	left: 50%;
 	transform: translate(-50%, -50%);*/
/*	height: 500px;
	width: 500px;*/
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	z-index: 0;
}

.cell {
/*	width: 33%;
	height: 33%;*/
	background-color: white;
	border: 1px solid grey;
	cursor: pointer;
}

button {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #2b3338;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #575757;
  text-decoration: none;
}

#mainControlsDiv {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}


#brushButtonsArea, #stateControlPanel {
	display: inline-block;
	width: 49%;
/*	text-align: center;*/
}

#brushButtonsArea {
	text-align: left;
}

#stateControlPanel {
	text-align: right;
}

#colorPicker {
	width: 40px;
	height: 40px;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
}

.hidden {
	display: none;
}

#overlay {    
  background-color: rgba(14, 15, 17, 0.96);
  position: absolute;
  top: 0px;
  height: 120%;
  width: 100%;
  z-index: 1;
}

#overlayExitIcon {
	position: absolute;
	left: 95%;
	cursor: pointer;
	font-size: 2em;
	color: white;
}

#myFrame {
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
	z-index: 5;
}